{% extends 'base.html' %}
{% load static %}

<!-- Default title Creativity Barn -->
<!-- Remove if custom title is not needed -->
{% block title %}
The Barn - Logout
{% endblock %}

<!-- Main content-->
<!-- Container not supplied and must be included -->
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center account-form">
            <h1>Logout</h1>
            <p>Goodbye {{ user.first_name }}. Are you sure you want to log out?</p>
            <form class="login" method="POST" action="{% url 'account_logout' %}">
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="btn btn-secondary" type="submit">Yes, please log me out</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

<!-- Custom JS specific to this page-->
{% block custom_js %}
{% endblock %}