{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load allauth %}
{% load account %}

<!-- Default title Creativity Barn -->
<!-- Remove if custom title is not needed -->
{% block title %}
The Creativity Barn: Password recovery
{% endblock %}

<!-- Extra JS och imports that needs to be placed in header -->
{% block head_js %}
{% endblock %}

<!-- Extra CSS files, if needed-->
{% block extra_css %}
{% endblock %}

<!-- Main content-->
<!-- Container not supplied and must be included -->
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            {% element h1 %}
            {% trans "Password Reset" %}
            {% endelement %}
            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
            {% element p %}
            {% blocktrans %}We have sent you an email. If you have not received it please check your spam folder.
            Otherwise contact us if you do not receive it in a few minutes.{% endblocktrans %}
            {% endelement %}
        </div>
    </div>
</div>

{% endblock %}

<!-- Custom JS specific to this page-->
{% block postload_custom_js %}
{% endblock %}