{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load allauth %}
{% load account %}

<!-- Default title Creativity Barn -->
<!-- Remove if custom title is not needed -->
{% block title %}
The Creativity Barn: Password changed
{% endblock %}

<!-- Extra JS och imports that needs to be placed in header -->
{% block head_js %}
{% endblock %}

<!-- Extra CSS files, if needed-->
{% block extra_css %}
{% endblock %}

<!-- Main content-->
<!-- Container not supplied and must be included -->
{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <h1 class="text-center">Password changed</h1>
            Your password is now changed.
        </div>
    </div>
</div>

{% endblock %}

<!-- Custom JS specific to this page-->
{% block postload_custom_js %}
{% endblock %}


