{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load allauth i18n %}

<!-- Default title Creativity Barn -->
<!-- Remove if custom title is not needed -->
{% block title %}
The Barn - Change password
{% endblock %}

<!-- Main content-->
<!-- Container not supplied and must be included -->
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col12 text-center">
            <h1>Login</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-4 account-form">
            {% element h1 %}
            {% trans "Change Password" %}
            {% endelement %}
            {% url 'account_change_password' as action_url %}
            {% element form form=form method="post" action=action_url %}
            {% slot body %}
            {% csrf_token %}
            {{ redirect_field }}
            {{ form | crispy }}
            {% endslot %}
            {% slot actions %}
            <button type="submit" class="btn btn-secondary">Change Password</button>
            <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            {% endslot %}
            {% endelement %}
        </div>

    </div>
</div>
{% endblock %}

<!-- Custom JS specific to this page-->
{% block custom_js %}
{% endblock %}



{% element h1 %}
{% trans "Change Password" %}
{% endelement %}
{% url 'account_change_password' as action_url %}
{% element form form=form method="post" action=action_url %}
{% slot body %}
{% csrf_token %}
{{ redirect_field }}
{% element fields form=form %}
{% endelement %}
{% endslot %}
{% slot actions %}
{% element button type="submit" %}
{% trans "Change Password" %}
{% endelement %}
<a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
{% endslot %}
{% endelement %}