{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

<!-- Default title Creativity Barn -->
<!-- Remove if custom title is not needed -->
{% block title %}
Event registration
{% endblock %}

<!-- Extra JS och imports that needs to be placed in header -->
{% block head_js %}
{% endblock %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'events/css/events.css' %}">
{% endblock %}

<!-- Main content-->
<!-- Container not supplied and must be included -->
{% block content %}
<div class="container fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 mt-5">
            <div class="text-center">
                <h1>Event registration</h1>
                <h2>{{ event.title }}</h2>
                <p><strong>Date and time: </strong>{{ event.time }}</p>
            </div>
            <p>You have a preliminary reservation for {{event.title}}. You must complete payment within five minutes to
                confirm your spot.</p>
        </div>
        <div class="w-100"></div>
        <div class="col-12 col-md-6 text-center">
            <strong>Time remaining: </strong><span id="timer"></span>
        </div>
        <div class="w-100"></div>
        <div class="col-12 col-md-6 mt-3">
            <div class="stripe-form mb-3">
                <h3>Secure Payment via Stripe.com</h3>
                <form method="post" id="payment-form">
                    {% csrf_token %}
                    {{ payment_form | crispy }}
                    <label class="form-label">Amount to be paid</label>
                    <input type="text" vaLue="£ {{ event.cost | floatformat:2 }}" class="textinput form-control"
                        disabled>
                    <label class="form-label requiredField">
                        Credit/Debit card number<span class="asteriskField">*</span> </label>
                    <!-- Style code to make stripe elements look like Bootstrap forms found on https://stackoverflow.com/questions/46039315/how-can-i-style-a-stripe-elements-input-with-bootstrap-->
                    <div id="card-element" class="form-control" style='height: 2.4em; padding-top: .7em;'></div>
                    <div class="text-center pt-3">
                        <button type="submit" class="btn btn-primary">Pay and register</button>
                        <button type="button" class="btn btn-secondary">Cancel</button>
                    </div>
                    <div id="card-errors" role="alert"></div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="timeExpiredModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Time has expired</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>You must complete registration within five minutes.</p>
                <p>You need to restart the reservation process, but there is a risk your spot now has been reserved for
                    someone else.</p>

            </div>
            <div class="modal-footer">
                <button id="modalCloseButton" type="button" class="btn btn-secondary"
                    data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<!-- Custom JS specific to this page-->
{% block postload_custom_js %}

<!-- Variable to be used in js-files-->
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ stripe_secret_key|json_script:"id_stripe_secret_key" }}
<script>
    var timeoutUrl = "{% url 'event_detail' event.id %}"
</script>

<!-- <script src="{% static 'js/stripe_elements.js' %}"></script>-->
<script src="{% static 'js/event_registration_timer.js' %}"></script>

<script>
    const stripe = Stripe("{{ stripe_public_key }}");
    const elements = stripe.elements();
    const card = elements.create('card');
    card.mount('#card-element');

    const clientSecret = "{{ client_secret }}";
    const form = $('#payment-form')

    form.on('submit', async function (event) {
        event.preventDefault();
        const cardholderName = $('#id_cardholder_name').value;

        const { error, paymentIntent } = await stripe.confirmCardPayment(clientSecret, {
            payment_method: {
                card: card,
                billing_details: {
                    name: cardholderName
                }
            }
        });

        if (error) {
            $('#card-errors').textContent = error.message;
        } else {
            if (paymentIntent.status === 'succeeded') {
                form[0].submit();
            }
        }
    });
</script>




{% endblock %}