{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

<!-- Default title Creativity Barn -->
<!-- Remove if custom title is not needed -->
{% block title %}
Event registration
{% endblock %}

{% block extra_css %}
 <link rel="stylesheet" href="{% static 'events/css/events.css' %}">
{% endblock %}

<!-- Main content-->
<!-- Container not supplied and must be included -->
{% block content %}
<div class="container fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 mt-5">
            <div class="text-center">
                <h1>Event registration</h1>
            </div>
            <p>You have a preliminary reservation for {{event.title}}. You must complete payment within five minutes to
                confirm your spot.</p>
        </div>
        <div class="w-100"></div>
        <div class="col-12 col-md-6 text-center">
            <strong>Time remaining: </strong><span id="timer"></span>
        </div>
        <div class="w-100"></div>
        <div class="col-12 col-md-6 mt-3">
            <div class="text-center">
                <h2>{{ event.title }}</h2>
            </div>
            <p><strong>Date and time: </strong>{{ event.time }}</p>
            <p><strong>Cost: </strong>£{{ event.cost }}</p>
        </div>
        <div class="w-100"></div>
        <div class="col-12 col-md-6 mt-3">
            <!-- <form id="tempPaymentForm" method="post">
                <p>Enter your credit card number below to complete registration.</p>
                {% csrf_token %}
                {{ temp_payment_form | crispy }}
                <div class="text-center">
                    <button id="submitButton" type="submit" class="btn btn-secondary mt-3">Pay</button>
                </div>
            </form> -->
            <div id="card-element"></div>
            <div id="card-errors"></div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="timeExpiredModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Time has expired</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>You must complete registration within five minutes.</p>
                <p>You need to restart the reservation process, but there is a risk your spot now has been reserved for
                    someone else.</p>

            </div>
            <div class="modal-footer">
                <button id="modalCloseButton" type="button" class="btn btn-secondary"
                    data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<!-- Custom JS specific to this page-->
{% block custom_js %}

<!-- Variable to be used in js-files-->
 {{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ stripe_secret_key|json_script:"id_stripe_secret_key" }}
<script>
    var timeoutUrl = "{% url 'event_detail' event.id %}"
</script>

<script src="{% static 'js/stripe_elements.js' %}"></script>
<script src="{% static 'js/event_registration_timer.js' %}"></script>






{% endblock %}