{% extends 'base.html' %}
{% load static %}

<!-- Default title Creativity Barn -->
<!-- Remove if custom title is not needed -->
{% block title %}
Events and courses
{% endblock %}

<!-- Main content-->
<!-- Container not supplied and must be included -->
{% block content %}
<div class="container-fluid mb-3">
    <div class="row">
        <div class="col-12 text-center">
            <h1>Events and courses</h1>
        </div>
    </div>
</div>
{% endblock %}

<!-- Custom JS specific to this page-->
{% block custom_js %}
{% endblock %}