{% extends 'base.html' %}
{% load static %}

<!-- Default title Creativity Barn -->
<!-- Remove if custom title is not needed -->
{% block title %}
Events and courses
{% endblock %}

<!-- Main content-->
<!-- Container not supplied and must be included -->
{% block content %}
    <div class="container-fluid mb-3">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <h1>Events and courses</h1>
            </div>
            {% for event in events %}
                <div class="col-12 col-md-6 col-lg-4 col-xl-3 mt-3">
                    <div class="card h-100">
                        
                        <div class="card-header">
                            {% if event.cost == 0 %}
                                <strong>Free event</strong>
                            {% else %}
                                <strong>Course</strong>
                            {% endif %}
                        </div>
                        

                        {% if event.image %}
                            <img src="{{ event.image.url }}" alt="Image illustrating event">
                        {% else %}
                            <img src="{% static 'images/blog_placeholder_image.jpg' %}" alt="Placeholder Image">
                        {% endif %}

                        <div class="card-header">
                            <h2>{{ event.title }}</h2>
                        </div>

                        <div class="card-body">
                            <p class="card-text">
                                <strong>Event time: </strong>{{ event.time }}<br>
                                {% if event.max_capacity != 0 %}
                                    <strong>Spots available: </strong>{{ event.available_spots}} of {{ event.max_capacity }}<br>
                                {% endif %}

                                {% if event.cost != 0 %}
                                    <strong>Cost: </strong>£{{event.cost|floatformat:2}}<br>
                                {% endif %}
                            </p>
                            
                            <div class="text-center">
                                {% if event.max_capacity == 0 %}
                                    <a href="{% url 'event_detail' event.id %}" class="btn btn-sm btn-secondary">Read more</a>
                                {% else %}
                                    <a href="{% url 'event_detail' event.id %}" class="btn btn-sm btn-secondary">Read more and sign up</a>
                                {% endif %}
                            </div>  
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

<!-- Custom JS specific to this page-->
{% block custom_js %}
{% endblock %}