{% extends 'base.html' %}
{% load static %}

<!-- Default title Creativity Barn -->
<!-- Remove if custom title is not needed -->
{% block title %}
{{ article.title }}
{% endblock %}

<!-- Main content-->
<!-- Container not supplied and must be included -->
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center">
            <h1>{{ event.title }}</h1>
        </div>
        <div class="col-12 col-md-6 mt-2">
            {% if event.image %}
            <img src="{{ event.image.url }}" class="event-post-image" alt="Image illustrating blog post">
            {% else %}
            <img src="{% static 'images/blog_placeholder_image.jpg' %}" class="event-post-image"
                alt="Placeholder Image">
            {% endif %}
        </div>
        <div class="col-12 col-md-6 mt-2 d-flex align-items-center">
            <div>
                {{ event.description | linebreaks }}
                <hr>
                <strong>Event time: </strong>{{ event.time }}<br>
                {% if event.max_capacity != 0 %}
                <strong>Spots available: </strong>X of {{event.max_capacity}}<br>
                {% endif %}
                {% if event.cost != 0 %}
                <strong>Cost: </strong>£{{event.cost|floatformat:2}}<br>
                {% endif %}
            </div>
        </div>
        <div class="col-12 text-center mt-2 mb-2">
            <a href="{{ previous_url }}" class="btn btn-sm btn-secondary">Back to previous page</a>
        </div>
    </div>
</div>
{% endblock %}

<!-- Custom JS specific to this page-->
{% block custom_js %}
{% endblock %}