{% extends 'base.html' %}
{% load static %}

<!-- Default title Creativity Barn -->
<!-- Remove if custom title is not needed -->
{% block title %}
Your user profile
{% endblock %}

<!-- Extra JS och imports that needs to be placed in header -->
{% block head_js %}
{% endblock %}

<!-- Extra CSS files, if needed-->
{% block extra_css %}
{% endblock %}

<!-- Main content-->
<!-- Container not supplied and must be included -->
{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 text-center mt-3">
            <h1>Your user profile</h1>
        </div>
        <div class="col-12 col-md-8 col-lg-7 col-xl-4 mt-3">
            <h2 class="text-center">User information</h2>
            <div class="d-flex justify-content-center">
                <table>
                    <tr>
                        <th>Username:</th>
                        <td>{{ user.username }}</td>
                    </tr>
                    <tr>
                        <th>First name:</th>
                        <td>{{ user.first_name }}</td>
                    </tr>
                    <tr>
                        <th>Last name:</th>
                        <td>{{ user.last_name }}</td>
                    </tr>
                </table>
            </div>
            <div class="text-center mt-1">
                <a href="{% url 'account_change_password'%}" class="btn btn-secondary">Change your password</a>
            </div>
        </div>
        <div class="col-12 col-md-8 col-lg-7 col-xl-4 mt-3">
            <h2 class="text-center">Upcoming events</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th colspan="4" class="text-center">
                            You are registered for the upcoming events
                        </th>
                    </tr>
                </thead>
                {% if upcoming_events.count == 0 %}
                <tr>
                    <td colspan="4">You are not registered for any events</td>
                </tr>
                {% else %}
                <thead>
                    <tr>
                        <th>Event</th>
                        <th>Date</th>
                        <th>Time
                        <th>Cost</th>
                    </tr>
                </thead>
                <tbody>
                    {% for event in upcoming_events %}
                    <tr>
                        <td>{{ event.event_title }}</td>
                        <td>{{ event.event_time | date:"l M j Y" }}</td>
                        <td>{{ event.event_time | date:"g:i a" }}</td>
                        <td>
                            {% if event.event_cost == 0 %}
                            Free
                            {% else %}
                            £{{event.event_cost|floatformat:2}}
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                {% endif %}
            </table>
        </div>
        <div class="col-12 col-md-8 col-lg-7 col-xl-4 mt-3">
            <h2 class="text-center">Previous events</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th colspan="4" class="text-center">
                            You have previously registered for these past events
                        </th>
                    </tr>
                </thead>
                {% if previous_events.count == 0 %}
                <tr>
                    <td colspan="4">You are not registered for any past events</td>
                </tr>
                {% else %}
                <thead>
                    <tr>
                        <th>Event</th>
                        <th>Date</th>
                        <th>Time
                        <th>Cost</th>
                    </tr>
                </thead>
                <tbody>
                    {% for event in previous_events %}
                    <tr>
                        <td>{{ event.event_title }}</td>
                        <td>{{ event.event_time | date:"l M j Y" }}</td>
                        <td>{{ event.event_time | date:"g:i a" }}</td>
                        <td>
                            {% if event.event_cost == 0 %}
                            Free
                            {% else %}
                            £{{event.event_cost|floatformat:2}}
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                {% endif %}
            </table>
        </div>
    </div>
</div>
{% endblock %}

<!-- Custom JS specific to this page-->
{% block postload_custom_js %}
{% endblock %}