/*** Fonts Chewy and Nunito from Google Fonts ***/
@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

/*** Root variables ***/
:root {
    --primary-font: "Nunito Sans", sans-serif;
    --headline-font: "Chewy", sans-serif;

    /*   --background-color: #f5d389; /* Jasmine */
    /*    --header-color: #525219; /* Dark-moss-green */
    /*    --header-color-rgb: rgb(95, 92, 30);
    /*    --headline-color: #525219; /* Dark-moss-green */
    /*    --header-text-color: #E8EFF3; /* Light-blue */
    /*    --font-color: black; */

    --background-color: #f3e2b4; /* wheat */
    /*--header-color: #75811c; /* olive */
    /*--header-color-rgb: rgb(117, 129, 28); */
    /*--header-color: #525219; /* Dark-moss-green */
    /*--header-color-rgb: rgb(95, 92, 30); */
    --header-color: #034c3c; /* brunswick-green */
    --header-color-rgb: rgb(3, 76, 60);
    --headline-color: #701005; /* barn-red */
    --header-text-color: white;
    --shadow-color: #906f3d; /* coyote */
    --font-color: black;
    --extra-color: #76afd1; /* carolina-blue, not currently used */
    --comment-counter-color: gray;
}

body {
    background-color: var(--background-color);
    font-family: var(--primary-font);
    color: var(--font-color)
}

/* Main padding used to protect against menu overlap and assure distance to footer*/
main {
    padding-top: 5rem;
}

h1,
h2,
h3 {
    font-family: var(--headline-font);
    color: var(--headline-color);
}

h1,
.header-title {
    font-size: 2.5rem;
}
h2 {
    font-size: 1.66rem;
}
h3 {
    font-size: 1.25rem;
}

/*** Custom styzling of Bootstrap Navbar ***/

/* Set background to header color, for some reason it doesn't work without rgb values entered this way*/
[data-bs-theme=dark] {
    --bs-tertiary-bg-rgb: 3, 76, 60;
}

#nav-area>a {
    text-decoration: none;
    margin-right: 1rem;
}

#nav-area h1 {
    color: var(--header-text-color)
}

.nav-link {
    color: var(--header-text-color);
}

.nav-link:hover {
    color: white;
    font-weight: bold;
    text-decoration: underline;
}

.navbar-toggler {
    border-color: var(--header-text-color);
}

.active {
    font-weight: bold;
}

/* Set the color of nav Hamburger toggler as rest of nav elements */
/* Code found on https://www.geeksforgeeks.org/how-to-change-hamburger-toggler-color-in-bootstrap/ */
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24' /%3E%3C/svg%3E");
}

/***** Styling of account pages, login etc... *****/

.home-card-url,
.home-card-url:visited,
.account-form a,
.account-form a:visited{
    color: blue;
    text-decoration: none;
}

.home-card-url:hover,
.account-form a:hover{
    font-weight: bold;
    text-decoration: underline;
}

/*** Footer ***/

footer {
    padding-top: 1rem;
    background-color: var(--header-color);
    color: var(--header-text-color);
    margin-bottom: 0px;
}


/*** Styling of page elements ***/

/* col-image, image used on home view, adjusted in size in media queries */
.col-image {
    height: 200px;
    width: 200px;
}

.table {
    border: 1px solid var(--extra-color);
    border-collapse: separate;
    border-radius: 5px;
    box-shadow: 3px 3px var(--shadow-color);
}

/***** Blog and Events *****/

.card {
    border: 1px solid var(--extra-color);
    box-shadow: 3px 3px var(--shadow-color);
}

.card-header>h2 {
    font-size: 1.25rem;
}

.blog-post-image,
.event-post-image {
    border: 1px solid black;
    max-width: 100%;
    border-radius: 2%;
}

.comment-counter{
    color: var(--comment-counter-color);
}

/* Pagination styling */

.pagination-card {
    padding: 2rem;
}

/***** Toasts *****/
.toast-container{  
    padding-right: 1rem;
}



/***** TEST CSS TO BE REMOVED BEFORE SUBMISSION *****/

.test-border {
    border: dashed 1px red;
}

/*** Media querys ***/

@media(max-width: 455px){
    .header-title {
        font-size: 2rem;
    }
}

@media(max-width: 394px){
    .header-title {
        font-size: 1.5rem;
    }
}

@media(max-width: 333px){
    .header-title {
        font-size: 1.2rem;
    }

    .header-logo{
        width: 30px;
        height: 30px;
    }
}

@media(max-width: 285px) {
    .header-logo{
        display: none !important;
    }
}

@media(min-width: 550px) {
    .col-image {
        width: 300px;
        height: 300px;
    }
}

@media(min-width: 650px) {
    .col-image {
        width: 350px;
        height: 350px;
    }
}

@media(min-width: 768px) {
    .col-image {
        width: 225px;
        height: 225px;
    }
}

@media(min-width: 868px) {
    .col-image {
        width: 260px;
        height: 260px;
    }
}

@media(min-width: 992px) {
    .col-image {
        height: 280px;
        width: 280px;
    }
}