<!-- Exclude paginator info if there is only one page -->
{% if page.paginator.num_pages > 1 %}
<div class="pagination justify-content-center">

    <div class="card pagination-card">
        <div class="current">
            Page <strong>{{ page.number }}</strong> of {{ page.paginator.num_pages }}
        </div>

        <div class="step-links text-center">
            {% if page.has_previous %} <a href="?page={{ page.previous_page_number }}"
                class="d-inline">&nbsp;&lt;&lt;&nbsp;</a>
            {% endif %}
            {% if page.has_next %}
            <a href="?page={{ page.next_page_number }}" class="d-inline">&nbsp;&gt;&gt;&nbsp;</a>
            {% endif %}
        </div>
    </div>
</div>
{% endif %}