{% load static %}


{% url 'home' as home_url %}
<!-- Blog and Events does not need to be defined, they use other methods -->
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}
{% url 'request_name' as request_name_url %}

<!-- Check to see if logged in user has completed registration -->
{% if user.is_authenticated and user.first_name == "" %}
{% if request.path == logout_url or request.path == request_name_url %} 
    <!-- Nothing -->
{% else %}
<script type="text/javascript">
    window.location.href = "{{request_name_url}}";
</script>
{% endif %}

{% endif %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="The Creativity Barn art supplies painting diamond painting courses events woodcraft knitting textile dioramas">
    <title>
        {% block title %}
        Creativity Barn
        {% endblock %}
    </title>

    <!-- 3rd Party CSS, Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>

<body class="d-flex flex-column min-vh-100">

    <header>
        <nav id="mobile-navbar" class="navbar navbar-expand-lg bg-body-tertiary fixed-top" data-bs-theme="dark">
            <div id="nav-area" class="container-fluid">

                <a href="{% url 'home' %}">
                    <img src="{% static 'images/menu-icon.png' %}" clss="d-inline" alt="Logo">
                    &nbsp;
                    <h1 class="d-inline">The Creativity Barn</h1>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse text-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == home_url %}active" aria-current="page{% endif %}"
                                href="{% url 'home' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if 'blog' in request.path %}active" aria-current="page{% endif %}"
                                href="{% url 'blog' %}">Blog</a>
                        <li class="nav-item">
                            <a class="nav-link  {% if 'events' in request.path %}active" aria-current="page{% endif %}"
                                href="{% url 'events' %}">Courses &
                                Events</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link  {% if request.path == about_url %}active" aria-current="page{% endif %}"
                                href="">About &
                                Contact</a>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == logout_url %}active" aria-current="page{% endif %}"
                                href="{% url 'account_logout' %}">Logout</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link  {% if request.path == signup_url %}active"
                                aria-current="page{% endif %}" href="{% url 'account_signup' %} ">Sign
                                up</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link  {% if request.path == login_url %}active" aria-current="page{% endif %}"
                                href="{% url 'account_login' %}">Login</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
        {% if messages %}
        <div class="toast-container end-0">

        {% for message in messages %}
            {% with message.level as level %}
                {% if level == 40 %}
                    {% include 'includes/toasts/toast_error.html' %}
                {% elif level == 30 %}
                    {% include 'includes/toasts/toast_warning.html' %}
                {% elif level == 25 %}
                    {% include 'includes/toasts/toast_success.html' %}
                {% else %}
                    {% include 'includes/toasts/toast_info.html' %}
                {% endif %}
            {% endwith %}
        {% endfor %}
    </div>
        {% endif %}

        {% block content %}
        <!-- Default content for testing -->
        <h1>Welcome to The Creativity Barn</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate odio labore accusantium magnam incidunt
            repellat quod in, repudiandae pariatur officia commodi totam corporis nemo, maiores veritatis velit
            voluptatibus
            earum vero?</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum sequi dolores dolor, maxime, quidem dolore
            molestias iusto mollitia iure error dolorum recusandae ipsa repudiandae iste? Voluptas recusandae
            reprehenderit
            repellendus itaque?</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis inventore a est esse doloremque officiis
            nostrum, sunt eaque ducimus nobis unde laboriosam facilis. Quod velit voluptatibus praesentium amet
            molestiae
            perferendis.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate odio labore accusantium magnam incidunt
            repellat quod in, repudiandae pariatur officia commodi totam corporis nemo, maiores veritatis velit
            voluptatibus
            earum vero?</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum sequi dolores dolor, maxime, quidem dolore
            molestias iusto mollitia iure error dolorum recusandae ipsa repudiandae iste? Voluptas recusandae
            reprehenderit
            repellendus itaque?</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis inventore a est esse doloremque officiis
            nostrum, sunt eaque ducimus nobis unde laboriosam facilis. Quod velit voluptatibus praesentium amet
            molestiae
            perferendis.</p>

        {% endblock %}
    </main>
    <footer class="mt-auto">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 text-center">
                    <p>The Creative Barn is a ficticious store, made up for education purposes</p>
                </div>
                <div class="col-12 col-md-4 text-center text-md-end">
                    <strong>Opening hours</strong>
                </div>
                <div class="col-12 col-md-4 text-center">
                    <strong>Adress and phone</strong>
                </div>
                <div class="col-12 col-md-4 text-center text-md-start">
                    <strong>Follow us on</strong>
                </div>
            </div>

        </div>
    </footer>

    <!-- 3rd Party JS, Bootstrap JQUERY -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.slim.js"
        integrity="sha256-UgvvN8vBkgO0luPSUl2s8TIlOSYRoGFAX4jlCIm9Adc=" crossorigin="anonymous"></script>

    <!-- Place for custom JS, to be included as necessary -->

    <script>
        $(document).ready(function () {
            $(".toast").each(function () {
                const toast = new bootstrap.Toast(this);
                toast.show();
            });
        });
    </script>

    {% block custom_js %}
    {% endblock %}
</body>

</html>